# Ignore node_modules and build artifacts
node_modules
build
dist
coverage

# Ignore YAML files
*.yml
*.yaml

# Optional: ignore lock file and config files
pnpm-lock.yaml
package-lock.json

# Optional: ignore generated or unnecessary folders
.assets
public

#ignore .json files
*.json